@*@model IEnumerable<CodeFirstApproach_LNE.Models.Student>*@

@model IPagedList<CodeFirstApproach_LNE.Models.Student>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<p>
    @using (Html.BeginForm("Index", "Home"))
    {
        <input type="text" name="search" placeholder="Enter Name or Gender" />
        <input type="submit" name="submit" value="search" />
    }

</p>





<p style=" color : green"> @TempData["InsertMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", "Home")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i, search = Request.QueryString["search"] }))